body {
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}
* {
	font-family: "IBM Plex Sans", san-serif;
	color: white;
}
*::selection {
	background: white;
	color: black;
}

*::-webkit-scrollbar {
	-webkit-appearance: none;
	background-color: #000;
}
*::-webkit-scrollbar:vertical {
	width: 11px;
}
*::-webkit-scrollbar:horizontal {
	height: 11px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #000; /* should match background, can't be transparent */
	background-color: #696969;
	transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
	border-radius: 8px;
	border: 2px solid #000; /* should match background, can't be transparent */
	background-color: #aaaaaa;
}
*::-webkit-scrollbar-track {
	background-color: #000;
	border-radius: 8px;
}

button {
	cursor: pointer;
	outline: none;
	font-size: 1.15em;
}
button.primary {
	padding: 0.25em 0.5em;
	font-weight: 400;
	background: black;
	border: white solid 1px;
}
button.primary:hover * {
	color: black;
}
button.primary:hover {
	background: white;
	color: black;
}
button.secondary {
	background: none;
	border: none;
	border-bottom: white solid 1px;
	padding: 0;
	height: 1.5em;
}
button.secondary:hover {
	border-bottom: #696969 solid 1px;
}

#nav {
	display: flex;
	flex-direction: row;
	height: 4em;
	width: 100%;
	align-items: center;
	justify-content: start;
	position: fixed;
	top: 0;
	left: 0;
	background: #0008;
	backdrop-filter: blur(15px);
	padding: 0 2em;
	gap: 4em;
}
#nav button {
	height: 3em;
	width: 15vw;
	box-sizing: border-box;
}
#nav button:hover {
	background: black;
	border: blackart;
}
#nav h2 {
	margin: 0;
	font-family: "SF UI Text", sans-serif;
}

#cover {
	height: 92vh;
	margin-bottom: 8vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
}
#cover h1 {
	font-weight: 400;
	font-size: 8em;
	margin: 0;
}
@media screen and (max-width: 1200px) {
	#cover {
		width: calc(100vw - 4em);
	}
}
@media screen and (max-width: 970px) {
	#cover h1 {
		font-size: 6em;
	}
}
@media screen and (max-width: 750px) {
	#cover h1 {
		font-size: 4em;
	}
}
#cover h3 {
	margin-top: 0;
	font-weight: 400;
	font-size: 1.75em;
}
.button-row {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

#logo {
	margin: 8em 0;
}
#logo img {
	border-radius: 3px;
}
#logo img,
#logo div::before {
	width: 256px;
	height: 256px;
}
#logo div::before {
	display: block;
	content: "";
	position: absolute;
	z-index: -999;
	background-image: url(../images/alpacaelectron.png);
	filter: blur(50px);
}
