@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Inter", sans-serif;
}
.font-outfit,
.font-outfit * {
	font-family: "Outfit", sans-serif;
}

html:has(.scrollbar-1) {
	--scrollbar-bg: #eff6ff;
	--scrollbar-thumb: #1f2937;
}
html:has(.scrollbar-2) {
	--scrollbar-bg: #292524;
	--scrollbar-thumb: #fef3c7;
}
html:has(.scrollbar-3) {
	--scrollbar-bg: #eff6ff;
	--scrollbar-thumb: #1f2937;
}
html:has(.scrollbar-3m) {
	--scrollbar-bg: #eff6ff;
	--scrollbar-thumb: #1f2937;
}
html::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
html::-webkit-scrollbar-corner {
	background: var(--scrollbar-bg);
}
html::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 10px;
	border: 2px solid var(--scrollbar-bg);
}
html::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}

.bg-dots {
	background-image: radial-gradient(#1f293722 1px, #1f293700 1px);
	background-size: 32px 32px;
	background-attachment: fixed;
}
.bg-grid {
	background-image: linear-gradient(to right, #44403c22 1px, transparent 1px), linear-gradient(to bottom, #44403c22 1px, transparent 1px);
	background-size: 32px 32px;
	background-attachment: fixed;
}
